{% extends "blogs/base.html" %}
{% load static %}
{% load humanize %}


{% block titulo %}Inicio{% endblock titulo %}

{% block contenido %}

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text">
      <div class="container-fluid">
        <div class="owl-banner owl-carousel">


          <!-- Inicio Post Destacados -->
          {%for artista in artistas_destacados%}
          <div class="item">
            <img src="{{artista.imagen.url}}" alt="">
            <div class="item-content">
            <div class="main-content">
              <div class="meta-category">
          <span> artista.titulo</span> <!-- REVISAR COMO FUNCA ESTO -->
            </div>
            <a href="{% url "blog:detalle" artista.url %}">
              <h4> {{artista.resumen|safe }}</h4>  <!-- REVISAR COMO FUNCA ESTO -->
            </a>
              <ul class="post-info">
                <li><a href="{% url "blog:user" artista.user %}">{{ artista.user }}</a></li>
                <li><a href="#">{{ artista.creado|date:"M Y" }}</a></li>
                <li><a href="#">Comentarios </a></li>
              </ul>
            </div>
        </div>
    </div>
    {%endfor%}
<!-- Fin Post Destacados -->


        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->




    <section class="blog-posts">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">

                   <!-- ACA EMPIEZAN LOS POSTS --> 
               {% for artista in artistas_destacados %}
                  <div class="col-lg-12">
                    <div class="blog-post">
                      <div class="blog-thumb">
                        <img src="{{artista.imagen.url}}" alt="">
                      </div>
                      <div class="down-content">
                        <span>{{artista.titulo}}</span> <!-- REVISAR COMO FUNCA ESTO -->
                        <a href="{% url "blog:detalle" artista.url %}">
                          <h4>{{artista.cancion}}</h4></a>
                        <ul class="post-info">
                          <li><a href={% url 'blog:user' artista.user %}>{{ artista.user }}</a></li>
                          <li><a href="#">{{ artista.creado|date:"M Y" }}</a></li>
                          <li><a href="#">12 Comments</a></li>
                        </ul>
                         {{artista.resumen|safe }} 
                        <div class="post-options">
                          <div class="row">
                            <div class="col-6">
                            </div>
                            <div class="col-6">
                              <ul class="post-share">
                                <li><i class="fa fa-share-alt"></i></li>
                                <li><a href="#">Facebook</a>,</li>
                                <li><a href="#"> Twitter</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {%endfor%}
                <!-- Fin PostS -->
              
                  <!-- inicio Paginador -->
                <div class="col-lg-12">
                  <nav aria-label="...">
                    <ul class="pagination justify-content-center">
                      <li class="page-item"><a class="page-link" href="?page=1">Inicio</a></li>
  
                      {% if page_obj.has_previous %}
                        <li class="page-item">
                          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                        </li>
                      {% else %}
                        <li class="page-item page-link disabled">Anterior</li>
                      {% endif %}
  
                      <li class="page-item page-link active">{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</li>
                      
                      {% if page_obj.has_next %}
                        <li class="page-item">
                          <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                        </li>
                      {% else %}
                        <li class="page-item disabled page-link">Siguiente</li>
                      {% endif %}
                      
                      <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última</a></li>
  
                    </ul>
                  </nav>
                </div>
                <!-- Fin Paginador -->
  
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="sidebar">
                   <div class="row">
            
                 <!-- Inicio Barra Búsqueda -->
                <div class="col-lg-12">
                  <div class="sidebar-item search">
                    <form id="search_form" name="gs" method="GET" action="#">
                      <input type="text" name="q" class="searchText" placeholder="type to search..." autocomplete="on">
                    </form>
                  </div>
                </div>
               <!-- FIN Barra Búsqueda -->
                <div class="col-lg-12">
                  <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                      <h2>Publicaciones Recientes</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <!-- Inicio Posts reciente-->
                        {%for artista in artistas%}
                        {% if forloop.counter <= 3 %}
                            <li>
                              <a href="{% url "blog:detalle" artista.url %}">
                                  <h5>{{artista.titulo}}</h5>
                                  <span>{{artista.creado}}</span>
                               </a>
                              </li>
                              {% endif %}
                            {%endfor%}
                        <!-- FIN Posts reciente-->

                      
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item categories">
                    <div class="sidebar-heading">
                      <h2>Categoría</h2>
                    </div>
                    <div class="content">
                      <ul>
                        
                        <!-- Inicio posts cancines-->

                        {%for cancion in canciones%}
                        <li><a href="{% url "blog:cancion" cancion.id %}">{{ cancion.nombre }} </a></li>
                        {%endfor%}
                        <!-- FIN-->

                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock contenido %}