{% extends "blogs/base.html" %}

{% block content %}
  <h2>Listado de Bandas o Artistas</h2>
  <div class="row">
    {% for artista in object_list %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="{{ artista.imagen.url }}" class="card-img-top" alt="{{ artista.cancion_disco }}">
          <div class="card-body">
            <h5 class="card-title">{{ artista.cancion_disco }}</h5>
            <p class="card-text">Nombre: {{ artista.nombre }}</p>
            <p class="card-text">Debut: {{ artista.debut }}</p>
            <p class="card-text">Ciudad de Origen: {{ artista.ciudad_de_origen }}</p>
            <!-- Puedes agregar más campos según sea necesario -->
            <a href="{% url 'artista_detail' artista.pk %}" class="btn btn-primary">Ver Detalles</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}